.Login{
    height: 100%;
    display: grid;
    grid-template-columns: 43% 1fr;
}

@media(max-width: 992px){
    .Login{
        height: 100%;
        display: flex;
    }
    .rightItem .formArea{
        
        width: 84% !important;
        
    }
    
    
}
.rightItem{
    width: 100%;
}

.rightItem .formArea{
    margin: auto;
    width: 60%;
    
    margin-top: 11%;
    
}

.formHeader h3:after{
    content: '';
    border: 2px solid #13689C;
    display: block;
    width: 44px;
    margin-top: 7px;
}

.formHeader p{
    font-size: 21px;
    margin: 17px 0 32px 0px;
}